* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

#cabecalho>img {
    margin: 30px 0;
    width: 100px;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

#conteudo_principal {
    height: calc(100vh - 143px - 79px);
}

#conteudo_principal>form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#div_conversa {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#footer_pergunta {
    background-color: #000000;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 7px;
    padding: 1%;
    gap: 1%;
}

#footer_pergunta>button,
.div_card_conversa>button {
    background-color: transparent;
    border: none;
}

#footer_pergunta>textarea {
    border: none;
    color: #f1f1f1;
    background-color: transparent;
    width: 100%;
    outline: none;
    resize: none;
    overflow-y: auto;
    font-size: 1em;
}
#footer_pergunta>button>img {
    width: 50px;
}
.div_card_conversa {
    display: flex;
    align-items: flex-start;
}

.markdown-body {
    border-radius: 7px;
    width: 100%;
    max-width: 468px;
    min-height: 71px;
    padding: 1%;
}

.markdown-body p { margin-bottom: 10px; }
.markdown-body ul, .markdown-body ol { margin-left: 20px; }

#div_card_conversa_chat {
    justify-content: flex-end;
    gap: 10px;
}

#div_card_conversa_usuario .markdown-body {
    border: #f1f1f1 1px solid;
    border-radius: 15px;
    background-color: #000000;
    color: #f1f1f1;
}

#div_card_conversa_chat .markdown-body {
    border: #f1f1f1 1px solid;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
}

#img_audio,
#img_bot {
    border-radius: 29px;
    border: 1px solid #000000;
    padding: 10px;
}
